@media (max-width: 1111px) {
    .artworks{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .artwork{
        margin-left: 20px;
        margin-right: 20px;
        width: 600px;
    }

    .artwork_image{
        background: url("/internal/assets/images/temp/queen.png");
        border-radius: 10px;
        width: inherit;
        height: auto;
    }
    artwork-title{
        display: flex;
        font-size: 70px;
        font-weight: bold;
        justify-content: center;
    }
    .artwork-description{
        font-size: 1em;
    }
    .artwork-price{
        font-size: 1em;
    }
    .artwork-button{
        font-size: 1em;
    }
}