@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media (min-width: 1111px) {
	.header{
		color:#729B79;
		font-weight: 900;
	}
	.page_title{
		font-size: 60px;
		font-weight: 900;
		color:#F3E8EE
	}
	.align{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.header_break{
		height: 2px;
        background-color: #F3E8EE;
        border: none;
	}
	.map{
		width:900px;
		height:450px;
		border:0;
	}
	/* p{
		margin-top: -5px;
	} */
	* {
	  
	  font-family: 'Work Sans';
	}
	body{
		background: #2E2C2F;
		color: #F3E8EE;
	}
	input{
		color: #F3E8EE;
	}
	textarea{
		color: #F3E8EE;
	}

	.site-header {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-wrap: wrap;
	  margin: 10px;
	  margin-left: 20%;
	  margin-right: 20%;
	}
	.social_media_container{
	  display: flex;
	  gap: 15px;
	  align-items: center;
	  flex-wrap: wrap;
	}
	.social_media_icon{
		height: 27px;
		width: 27px;
	}
	._32x32{
		height: 32px;
		width: auto;
	}
	.input_container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.form_input{
		outline: none;
		border: none;
		margin-top: 15px;
		font-size: 20px;
		width: 100%;
		height: 20px;
		background: transparent;
	}
	.form_input_body{
		display: block;
		outline: none;
		border: none;
		margin-top: 15px;
		font-size: 20px;
		width: 100%;
		height: 90px;
		resize: none;
		background: transparent;
	}
	.form_input_submit{
		background: transparent;
		margin-left: 50%;
		outline: none;
		border: none;
		margin-top: 15px;
		font-size: 20px;
		height: 40px;
		cursor: pointer;
	}
	header img{
	  width: 234px;
	  height: 57px;
	}
	header a{
		text-decoration: none;
		font-weight: 700;
	  	font-size: 30px;
	  	line-height: 40px;
	  	justify-content: flex-end;
	  	color: #F3E8EE;
	  	margin-right: 10px;
	  	margin-left: 10px;

	}
	header a:hover{
		color: #7b9c80;
		text-decoration: none;
	}
	.page_active{
		color: #729B79
	}
	
	footer{
	  display: flex;
	  justify-content: space-evenly;
	  /* lock at bottom of page */
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  margin-bottom: 10px;
	  text-align: center;
	
	}
	.center_text{
		text-align: center;
	}
	._20px{
		font-size: 20px;
	}
	.highlight{
		color: rgb(82, 137, 255)
	}
	.side-menu{
		display: none;
	}
	.hamb{
		display: none;
	}
	mobile-nav{
		display: none;
	}

	#gallery_container .error{
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		font-weight: 900;
		color: #9b7272;
		font-size: 60px;
		display: flex;
	}
	#gallery_container .error a{
		color: #9c4040;
		font-size: 40px;
		text-decoration: underline;
	}
	

	/* About Us */
	.about_us_hero_header{
		margin-top: -2%;
		color:#729B79;
		font-size: 60px;
		font-weight: 900;
		text-align: center;
		text-decoration: underline;
	}
	.artist_about_container{
		height: 650px
	}
	.artist_image{
		margin-left: 5%;
		width: 400px;
		height: auto;
		float:left; 
		display:inline;
	}
	.artist_about{
		margin-left: 34%;
		
	}
	.artist_about h1{
		color:#729B79;
		font-size: 40px;
		font-weight: 900;
		text-decoration: underline;
	}
	.artist_about p{
		font-weight: 400;
		font-size: 25px;
	}
	.highlighted{
		font-weight: 800;
		color: #7c9e82;
	}

	.developer_us_hero_header{
		margin-top: -2%;
		color:#729B79;
		font-size: 60px;
		font-weight: 900;
		text-align: center;
		text-decoration: underline;
	}
	.developer_about_container{
		/* border: #7b9c80 2px solid; */
		height: 500px
	}
	.developer_image{
		margin-left: 5%;
		height: auto;
		float:left; 
		display:inline;
		width: 400px;

	}
	.developer_about{
		margin-left: 34%;

	
		
	}
	.developer_about h1{
		color:#729B79;
		font-size: 40px;
		font-weight: 900;
		text-decoration: underline;
	}
	.developer_about p{
		font-weight: 400;
		font-size: 25px;
	}

	.bottom_gap{
		margin-bottom: 5%;
	}


	.developer_contact{
		margin-top: 5%;

	}
	.developer_contact h1{
		color:#729B79;
		font-size: 30px;
		font-weight: 900;
		text-decoration: underline;
	}
	.developer_contact a{
		color: #7b9c80;
		font-weight: 900;
		text-decoration: underline;
	}

	/* Single Artwork Display */
	.single_artwork_container{
		margin-left: 5%;
		margin-right: 5%;
  }
  #portrait.single_artwork_image {
	/* center flex */
	margin-left: 21%;
	width:  800px;
	height: auto;
  }
  #landscape.single_artwork_image {
	margin-left: 17%;

	height: 800;
	width:  auto;
  }	
  .single_artwork_name{
	margin: 0%;
	color: #729B79;
	font-size: 60px;
	font-weight: 900;
	text-decoration: underline;
	text-align: center;
  }
  .single_artwork_price_date{

	/* margin-top: -0.20%; */
	/* margin-bottom: 10px; */
	margin: 0;
	text-align: center;
	font-size: 20px;
	color: #729B79;
	font-weight: 700;
  }
  .single_artwork_materials{
	margin: 0;
	text-align: center;
	font-size: 15px;
	color: #729B79;
	font-weight: 500;
  }
  .single_artwork_description{
	margin-left: 7%;
	margin-right: 7%;
	font-size: 20px;
	text-align: center;
  }


  /* Gallery Page */
  #gallery_container{
	display: flex;
	/* center items wraped */
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 5%;
  }
  .gallery_artwork_image{
	--hovered: 0;
  }
  #portrait.gallery_artwork_image {
	height: 600px;
	width: auto;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
  }
  #landscape.gallery_artwork_image {
	width: 900px;
	/* height: 600px; */
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
  }
  /* gallery image hover */

  .gallery_artwork_wrapper {
	position: relative;
	text-align: center;
	color: white;
	opacity: 1;
	transition: opacity 0.5s;
	margin-left: 2%;
  }
  .gallery_artwork_description {
	position: absolute;
	bottom: 8px;
	right: 16px;
	visibility: hidden;
	
  }
  .gallery_artwork_wrapper:hover {
	visibility: visible;
	/* fade inm */


  }
  .gallery_artwork_wrapper:hover {
	opacity: 0.5;
	transition: opacity 0.5s;
  }
  .gallery_instructions{
	margin-left: 60px;
	margin-right: 60px;
	font-size: 30px;
	font-weight: 600;
	color: #F3E8EE;
	text-align: center;
  }
  .gallery_instructions strong{
	color: #729B79;
	font-weight: 900;
  }
}