@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@media (max-width: 1000px) { 
	* {
	  background: #F6F6F6;
	  font-family: 'Roboto Mono';
	}
	.site-header {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;
	}
	header img{
	  width: 434px;
	  height: 157px;
	}
	header a{
	  display: none;
	}
	footer{
	  /* lock at base of page */
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  margin-bottom: 10px;
	  text-align: center;
	}
	
  }