@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@media (max-width: 1111px) { 
	.align{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 30px;
		margin-right: 30px;
	}
	p{
		font-size: 50px;
	}
	.map{
		width:830px;
		height:1000px;
		border:0;
	}
	h1{
		font-size: 70px;
	}
	* {

	  font-family: 'Roboto Mono';
	}
	body{
		background: #F6F6F6;
	}
	
	.site-header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	  }
	.social_media_container{
	  display: flex;
	  gap: 15px;
	  align-items: center;
	  flex-wrap: wrap;
	}
	.social_media_icon{
		height: 54px;
		width: 54px;
	}
	._32x32{
		height: 64px;
		width: auto;
	}
	.input_container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.form_input{
		outline: none;
		border: none;
		margin-top: 15px;
		font-size: 20px;
		width: 100%;
		height: 60px;
	}
	.form_input_body{
		display: block;
		outline: none;
		border: none;
		font-size: 30px;
		margin-top: 15px;
		font-size: 50px;
		width: 100%;
		height: 400px;
		resize: none;
	}
	input[type="text"]
{
    font-size:50px;
}
	input[type="email" i]
{
    font-size:50px;
}

textarea::placeholder{
	font-size: 50px;
}
textarea{
	font-size: 50px;
}
	header img{
		width: 434px;
		height: 157px;
	}
	header a{
		display: none;
	}
	mobile-nav{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		background: #656565;
		line-height: 50px;
		transition: all .5s ease-in-out;
	}
	mobile-nav a{
		color: #ffffff;
		font-size: 50px;
		text-decoration: none;
	}
	.page_active{
		color: #888888
	}
	
	footer{
	  display: flex;
	  justify-content: space-evenly;
	  /* lock at bottom of page */
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  margin-bottom: 10px;
	  text-align: center;
	
	}
	.center_text{
		text-align: center;
	}
	._20px{
		font-size: 20px;
	}
	.highlight{
		color: rgb(82, 137, 255)
	}



/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '--';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
  }