@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.loader_red {
	display: block;
	background: rgba(255, 82, 82, 1);
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;
	box-shadow: 0 0 0 0 rgba(255, 82, 82,1);
	transform: scale(1);
	animation: pulse_red 2s infinite;
}
.loader_container {
	display: flex;
	/* center verticaly */
	align-items: center;
	/* center horizontaly */
	justify-content: center;
	margin-top: 35%;
  }
  
@keyframes pulse_red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
.loader_orange {
	display: block;
	background: rgb(255, 140, 82);
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;
	box-shadow: 0 0 0 0 rgba(255, 140, 82 ,1);
	transform: scale(1);
	animation: pulse_orange 2s infinite;
}

@keyframes pulse_orange {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 140, 82, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 140, 82, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 140, 82, 0);
	}
}
@media (max-width: 1000px) { 
	* {
	  background: #F6F6F6;
	  font-family: 'Roboto Mono';
	}
	.site-header {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;
	}
	header img{
	  width: 434px;
	  height: 157px;
	}
	header a{
	  display: none;
	}
	footer{
	  /* lock at base of page */
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  margin-bottom: 10px;
	  text-align: center;
	}
	
  }
  @media (min-width: 1000px) {
	.align{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;}
	* {
	  background: #F6F6F6;
	  font-family: 'Roboto Mono';
	}
	
	.site-header {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  flex-wrap: wrap;
	  margin: 10px;
	  margin-left: 20%;
	  margin-right: 20%;
	}
	.social_media_container{
	  display: flex;
	  gap: 15px;
	  align-items: center;
	  flex-wrap: wrap;
	}
	.social_media_icon{
		height: 27px;
		width: 27px;
	}
	._32x32{
		height: 32px;
		width: auto;
	}
	.input_container{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.form_input{
		outline: none;
		border: none;
		margin-top: 15px;
		font-size: 20px;
		width: 100%;
		height: 20px;
	}
	.form_input_body{
		display: block;
		outline: none;
		border: none;
		margin-top: 15px;
		font-size: 20px;
		width: 100%;
		height: 90px;
resize: none;
	}
	header img{
	  width: 234px;
	  height: 57px;
	}
	header a{
	
	  text-decoration: none;
	  font-weight: 700;
	  font-size: 30px;
	  line-height: 40px;
	  justify-content: flex-end;
	  color: #000000;
	  margin-right: 10px;
	  margin-left: 10px;
	}
	
	footer{
	  display: flex;
	  justify-content: space-evenly;
	  /* lock at bottom of page */
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  margin-bottom: 10px;
	  text-align: center;
	
	}
	.center_text{
		text-align: center;
	}
	._20px{
		font-size: 20px;
	}
	.highlight{
		color: rgb(82, 137, 255)
	}
  }